<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>青盲助诊-首页-管理界面</title>
    <link rel="stylesheet" type="text/css" href="../static/static/app01/csscode/admin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link href="../static/static/app01/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <script type="text/javascript"
        src="../static/static/app01/bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.js"></script>
</head>

<body>
    <div class="search">
        <div class="logo"></div>
        <div class="name">
            <p>*Administrator</p>
        </div>
    </div>
    <div class="searchTable">
        <form method="get">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search for..." value="{{search_data}}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <div class="main">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">用户名</th>
                    <th scope="col">检测日期</th>
                    <th scope="col">诊断结果</th>
                    <th scope="col">预测概率</th>
                    <th scope="col">是否可信</th>
                    <th scope="col">图片下载</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for obj in queryset %}
                <p>用户检测记录</p>
                <tr>
                    <th></th>
                    <td>{{ obj.username }}</td>
                    <td>{{ obj.logtime }}</td>
                    <td>{{ obj.class_result }}</td>
                    <td>{{ obj.probablistic }}</td>
                    <td>{{ obj.trust }}</td>
                    <td><a href="../app01/saveimg/{{ obj.trust }}/{{ obj.username }}{{ obj.timesss }}.jpg"
                            download="{{ obj.username }}{{ obj.timesss }}.jpg">下载检测结果</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<script>
    // 获取表体元素
    let tbody = document.querySelector(".table");
    console.log(tbody);
    // 初始化行数计数器
    let rowCount = 0;
    // 添加每一行的序号
    tbody.querySelectorAll("tr").forEach(function (row) {
        let rowContent = row.querySelector("th");
        if (rowContent.innerText === "#") {
            rowContent.innerText = "#";
        } else {
            rowContent.innerText = rowCount;
        }
        rowCount++;
    });
</script>

</html>