<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>
<body>
    <h1>欢迎使用青光眼辅助诊断系统</h1>
    <form method="post" action="/login/">

        {% csrf_token %}
        <div>
            用户名：{{form.username}}
            <span style="color:red;">{{form.username.errors.0}}</span>
        </div>

        <div>
            密码：{{form.password}}
            <span style="color:red;">{{form.password.errors.0}}</span>
        </div>

        <div>
            <input type="submit" value="登录">
            <a href="/register/">还没有账号？点击注册</a>
        </div>

    </form>
</body>
</html>