<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户-{{ username }}</title>
    <link rel="stylesheet" type="text/css" href="../static/static/app01/csscode/result2.css">
</head>

<body>
    <div>
        <h1>{{ username }} 很抱歉，我们不能给出您的检测结果</h1>
        <h2>!&nbsp&nbsp&nbsp!&nbsp&nbsp&nbsp!&nbsp&nbsp&nbsp</h2>
    </div>
</body>

</html>