<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的信息</title>
    <link rel="stylesheet" type="text/css" href="../static/static/app01/csscode/userinfo.css">
</head>

<body>
    <div class="search">
        <div class="logo"></div>
        <div class="name">
            <p>YOUR</p>
        </div>
    </div>
    <div class="topbox">
        <p class="back">Yours</p>
    </div>
    <div class="MainBox">
        <div class="HeadPicture"></div>
        <div class="List">
            <p>用户名：{{ username }}</p>
        </div>

        <div class="List">
            <p>性别：{{ gender }}</p>
        </div>

        <div class="List">
            <p>出生日期：{{ birthdate }}</p>
        </div>

        <div class="List">
            <p>年龄：{{ username }}</p>
        </div>

        <div class="List">
            <p>电话：{{ mobile }}</p>
        </div>

        <div class="TurnBack">
            <a href="/index/">TurnBack</a>
        </div>
    </div>
</body>

</html>