<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的网页</title>
</head>
<body>
    <h1>用户注册</h1>
    <form method="post" action="/register/">

        {% csrf_token %}

        <div>
            用户名：{{form.username}}
            <span style="color:red;">{{form.username.errors.0}}</span>
        </div>

        <div>
            手机号：{{form.mobile}}
            <span style="color:red;">{{form.password.errors.0}}</span>
        </div>

        <div>
            密码：{{form.password}}
            <span style="color:red;">{{form.password.errors.0}}</span>
        </div>

        <div>
            确认密码：{{form.confirm_password}}
            <span style="color:red;">{{form.confirm_password.errors.0}}</span>
        </div>

        <div>
            性别：{{form.gender}}
            <span style="color:red;">{{form.username.errors.0}}</span>
        </div>

        <div>
            出生日期：{{form.birthdate}}
            <span style="color:red;">{{form.username.errors.0}}</span>
        </div>

        <div>
            <input type="submit" value="注册">
        </div>

    </form>


</body>
</html>