* {
    margin: 0;
    padding: 0;
}

.search {
    position: relative;
    height: 56px;
    min-width: 1500px;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.name {
    position: absolute;
    height: 56px;
    top: 0;
    right: 18px;
}

.name p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 56px;
    margin-left: 5px;
    color: rgb(18, 228, 158);
    font-size: 23px;
}

.logo {
    float: left;
    width: 273px;
    height: 56px;
    background-image: url(logo.jpg);
    background-repeat: no-repeat;
    background-position: -6px -8px;
}

.topbox {
    position: absolute;
    height: 93px;
    left: 0px;
    right: 0px;
    top: 112px;
    background: #FFFFFF;
    min-width: 1500px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.back {
    position: absolute;
    width: 1000px;
    height: 77px;
    left: 96px;
    top: 0px;

    font-family: 'Newsreader';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    /* identical to box height, or 77px */
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;

    color: #000000;
}

.bigbox {
    margin: 10px auto;
    height: 900px;
    min-width: 1500px;
}

.username {
    float: left;
    width: 289px;
    height: 650px;
    margin-left: 5%;
    margin-top: 200px;
    background-color: aliceblue;
    border-radius: 24px;
}

.h2 {
    height: 200px;
    width: 270px;
    margin-left: 5%;
    margin-top: 6%;
    color: cadetblue;
    font-size: 25px;
    font-weight: 650;
}

.class_result {
    margin-left: 5%;
    margin-top: 50%;
    height: 200px;
    width: 236px;
    color: cadetblue;
    font-size: 20px;
}

.mainbox {
    float: left;
    position: relative;
    width: 1000px;
    height: 650px;
    margin-left: 3%;
    margin-top: 200px;
    background-color: aliceblue;
    border-radius: 24px;
}

.probablistic {
    position: absolute;
    top: 10%;
    left: 4%;
    color: cadetblue;
    font-size: 20px;
}

.picture_1 {
    position: absolute;
    top: 20%;
    left: 10%;
}

.picture_2 {
    position: absolute;
    top: 20%;
    right: 10%;
}

img {
    border-radius: 12px;
}

.download {
    position: absolute;
    top: 90%;
    left: 65%;
    width: 151px;
    height: 49px;
    background-color: rgb(209, 240, 230);
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.turnback {
    position: absolute;
    top: 90%;
    left: 83%;
    width: 151px;
    height: 49px;
    background-color: rgb(209, 240, 230);
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
}

.turnback:hover,
.download:hover {
    background-color: rgb(243, 157, 197);
}

a:hover {
    color: aquamarine;
}