* {
    padding: 0;
    margin: 0;
}

body {
    /* background-image: url(green.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}

.search {
    position: relative;
    height: 56px;
    min-width: 1500px;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.name {
    position: absolute;
    height: 56px;
    top: 0;
    right: 18px;
}

.name p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 56px;
    margin-left: 5px;
    color: rgb(18, 228, 158);
    font-size: 23px;
}

.logo {
    float: left;
    width: 273px;
    height: 56px;
    background-image: url(logo.jpg);
    background-repeat: no-repeat;
    background-position: -6px -8px;
}

.bigbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bigbox2 {
    text-align: center;
    width: 360px;
    height: auto;
    background-color: rgb(252, 255, 252);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: column;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 240px;
    margin-top: 20px;
}

#id_username,
#id_password,
#id_mobile,
#id_confirm_password {


    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

#id_username::placeholder,
#id_password::placeholder,
#id_mobile::placeholder,
#id_confirm_password::placeholder {
    color: #9e9ea7;
}

#id_username:focus,
#id_username:hover,
#id_password:focus,
#id_password:hover,
#id_mobile:focus,
#id_mobile:hover,
#id_confirm_password:focus,
#id_confirm_password:hover {
    outline: none;
    border-color: rgba(58, 204, 29, 0.4);
    background-color: #fefffd;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.bi-eye-slash-fill,
.bi-person-fill,
.bi-2-circle-fill,
.bi-phone {
    position: absolute;
    left: 1rem;
    width: 1rem;
    height: 1rem;
}

#id_gender {
    display: flex;
}

#id_gender div {
    margin-right: 60px;
}

.submit {
    margin-top: 20px;
}

.button {
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 0px 15px;
    background-color: rgb(140, 233, 103);
    border-radius: 10px;
    color: white;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .4s;
}

.button:hover {
    background-color: rgb(235, 166, 166);
    transition-duration: .2s;
}

.button:hover .arrow {
    animation: slide-right .6s ease-out both;
}

.button:active {
    transform: translate(1px, 1px);
    transition-duration: .2s;
}